.body {
  background-image: url("../public/images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 241px);
  display: flex;
  align-items: center;
}
.card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.no-results {
  color: #ffff;
  font-size: 16px;
  font-weight: 400;
}
